/* Estilos del cuerpo del documento */
body {
   height: 100vh; /* Establece la altura del cuerpo al 100% del viewport */
   display: grid; /* Utiliza el sistema de grid para el diseño */
   grid-template-columns: auto; /* Define una columna automática */
   grid-template-rows: 16% 1fr auto; /* Define las filas del grid con porcentajes y auto */
   grid-template-areas: "header" "main" "pie"; /* Define áreas para el grid */
}

/* Estilos del encabezado */
nav {
   background-image: var(--bs-gradient); /* Establece una imagen de fondo para la navegación */
}

.navbar {
   --bs-navbar-color: none; /* Define el color de la barra de navegación */
   font-size: larger; /* Establece el tamaño de fuente más grande para la barra de navegación */
   top: 0; /* Coloca la barra de navegación en la parte superior de la ventana */
   position: fixed; /* Fija la posición de la barra de navegación en la ventana */
   width: 100%; /* Establece el ancho de la barra de navegación al 100% del ancho de la ventana */
   z-index: 1; /* Establece la propiedad de apilamiento z-index para asegurar que la barra de navegación esté en la parte superior */
}

#nav_bread {
   top: 5.5rem; /* Posiciona los elementos verticalmente */
   position: absolute; /* Establece la posición absoluta */
}

header {
   grid-area: header; /* Asigna el área de grid para el encabezado */
}

.logo,
.perfil {
   height: 4rem; /* Establece la altura del logo */
   border-radius: 100%; /* Aplica un borde redondeado al logo */
}

.nav-link:hover {
   color: burlywood; /* Establece el color del enlace activo en la barra de navegación */
   text-decoration: underline; /* Subraya el enlace al pasar el ratón por encima */
}

.options {
   right: 5%; /* Posiciona los elementos a la derecha con un margen */
   list-style-type: none; /* Elimina los estilos de la lista */
   position: relative; /* Establece la posición relativa */
}

.options li {
   position: relative; /* Establece la posición relativa para los elementos de la lista */
}

.options .submenu-left {
   display: none; /* Oculta el submenú izquierdo */
   position: absolute; /* Establece la posición absoluta */
   right: 100%; /* Alinea el submenú a la derecha */
   top: -7px; /* Ajusta la posición del submenú */
   left: auto; /* Resetea la propiedad left */
}

li:hover > .submenu-left {
   display: block; /* Muestra el submenú izquierdo cuando se hace hover */
}

.options li,
.dropdown-menu li {
   --bs-dropdown-link-hover-bg: #115200; /* Define el color de fondo al hacer hover en los enlaces de la lista */
   --bs-dropdown-link-hover-color: white; /* Define el color del texto al hacer hover en los enlaces de la lista */
   --bs-dropdown-link-active-bg: #115200; /* Define el color de fondo al hacer hover en los enlaces de la lista */
}

/* Estilos del contenido principal */
main {
   grid-area: main; /* Asigna el área de grid para el contenido principal */
}

/* Estilos para los elementos con id "categories" y "dish-list" */
#categories,
#dish-list {
   width: 99%; /* Establece un ancho del 99% para estos elementos */
}

.row {
   justify-content: center; /* Centra los elementos del grid horizontalmente */
   gap: 2%; /* Establece el espacio entre los elementos */
   row-gap: 1rem; /* Establece el espacio entre filas */
   padding-top: 1%; /* Añade un padding superior */
   text-align: center; /* Centra el texto */
}

.card img {
   padding-top: 3%; /* Añade un padding superior a las imágenes dentro de las tarjetas */
   height: 50%; /* Establece la altura de las imágenes dentro de las tarjetas */
}

#dishes_cards {
   margin-bottom: 2%; /* Añade un margen inferior */
}

.containerInformation {
   display: flex; /* Utiliza el modelo de caja flexible */
   width: 99%; /* Establece un ancho del 99% */
   justify-content: center; /* Centra los elementos horizontalmente */
}

#card_dish {
   width: 50%; /* Establece un ancho del 50% */
}

.notDishes {
   display: flex;
   height: 100%;
   justify-content: center;
   align-items: center;
}

.name-dish,
.name-restaurant,
.geocoderAddresses {
   padding: 10px; /* Añade relleno */
   background-color: #115200; /* Establece el color de fondo */
   color: white; /* Establece el color del texto */
   border-radius: 10px;
}

.description {
   text-align: justify; /* Justifica el texto */
}

.breadcrumb {
   --bs-breadcrumb-item-active-color: #0a59d1; /* Define el color del elemento activo del breadcrumb */
}

.breadcrumb a {
   color: black; /* Define el color de los enlaces del breadcrumb */
}

/* Estilos del pie de página */
footer {
   grid-area: pie; /* Asigna el área de grid para el pie de página */
   background-image: var(--bs-gradient); /* Establece una imagen de fondo para el pie de página */
}

.enlaces a,
i:hover {
   color: rgb(5, 5, 31); /* Define el color de los enlaces en hover */
}

.social-media {
   display: flex; /* Utiliza el modelo de caja flexible */
   flex-direction: column; /* Establece la dirección de la columna */
   flex-wrap: wrap; /* Permite que los elementos se ajusten al contenedor */
   align-content: center; /* Centra los elementos verticalmente */
}

.icons {
   display: flex; /* Utiliza el modelo de caja flexible */
   justify-content: center; /* Centra los elementos horizontalmente */
   gap: 10px; /* Establece el espacio entre los elementos */
}

.social-media i {
   padding-right: 5%; /* Añade un relleno a la derecha */
   font-size: 3em; /* Establece el tamaño de fuente */
   color: rgb(243, 235, 235); /* Define el color del icono */
}

#login {
   cursor: pointer; /* Cambia el cursor al pasar sobre el área de inicio de sesión */
   font-family: "Open Sans", sans-serif; /* Fuente del texto */
   font-size: 1.1rem; /* Tamaño de fuente */
   font-weight: 400; /* Grosor de fuente */
   padding: 8px; /* Espaciado interno */
   height: 150px; /* Altura del área de inicio de sesión */
   color: white; /* Color del texto */
   text-decoration: none; /* Quita la decoración de texto */
   display: flex; /* Muestra como caja flexible */
   gap: 8%; /* Espacio entre elementos hijos */
}

#userArea {
   display: flex; /* Muestra como caja flexible */
}

.user_card {
   width: 350px; /* Ancho de la tarjeta de usuario */
   margin-top: 20px; /* Margen superior */
   margin-bottom: 20px; /* Margen inferior */
   background: #656f9e; /* Color de fondo */
   position: relative; /* Posición relativa */
   display: flex; /* Muestra como caja flexible */
   justify-content: center; /* Alinea los elementos hijos horizontalmente */
   flex-direction: column; /* Dirección de la distribución de los elementos hijos */
   padding: 10px; /* Espaciado interno */
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Sombra */
   border-radius: 5px; /* Radio de borde */
}

.brand_logo_container {
   position: absolute; /* Posición absoluta */
   height: 170px; /* Altura del contenedor */
   width: 170px; /* Ancho del contenedor */
   top: -75px; /* Posición desde la parte superior */
   border-radius: 50%; /* Radio de borde */
   background: #60a3bc; /* Color de fondo */
   padding: 10px; /* Espaciado interno */
   text-align: center; /* Alineación de texto */
}

.brand_logo {
   height: 150px; /* Altura del logotipo */
   width: 150px; /* Ancho del logotipo */
   border-radius: 50%; /* Radio de borde */
   border: 2px solid white; /* Borde */
}

.form_container {
   margin-top: 20px; /* Margen superior */
}

.login_btn {
   width: 100%; /* Ancho del botón */
   background: white !important; /* Color de fondo del botón */
   color: black !important; /* Color del texto del botón */
}

.login_btn:focus {
   box-shadow: none !important; /* Quita la sombra al enfocar */
   outline: 0px !important; /* Quita el contorno al enfocar */
}

.login_container {
   padding: 0 2rem; /* Espaciado interno */
}

.input-group-text {
   background: white !important; /* Color de fondo */
   color: rgb(12, 11, 11) !important; /* Color del texto */
   border: 0 !important; /* Borde */
   border-radius: 0.25rem 0 0 0.25rem !important; /* Radio de borde */
}

.input_user,
.input_pass:focus {
   box-shadow: none !important; /* Quita la sombra al enfocar */
   outline: 0px !important; /* Quita el contorno al enfocar */
}

.custom-checkbox .custom-control-input:checked ~ .custom-controllabel::before {
   background-color: #c0392b !important; /* Color de fondo del ícono del checkbox */
}

.input-group-text {
   height: 100%; /* Altura del ícono */
}

#aCloseSession {
   color: white; /* Color del texto */
   text-decoration: none; /* Quita la decoración de texto */
}

.img-fluid {
   height: 20%; /* Altura de la imagen */
   border-radius: 30%; /* Radio de borde */
}

.image {
   height: 10%; /* Altura de la imagen */
   width: 35%; /* Ancho de la imagen */
}

#userArea {
   display: flex; /* Muestra como caja flexible */
}

#favorite a {
   width: 40%;
}
